# Директории и файлы, игнорируемые Git

# Файлы среды разработки
/.idea/
.vscode/

# Виртуальная среда
venv/

# Компилированные Python файлы
*.pyc
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp

# Специфические файлы операционных систем
.DS_Store
Thumbs.db

# Файлы конфиденциальных данных
*.env